* {
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer aside";
    font-family: 'Roboto', sans-serif;
    grid-template-columns: auto auto 50vh;
    grid-template-rows: 12vh 76vh 12vh;
    background-color: black !important;
}

.o-header {
    grid-area: header;
}
    
.o-aside {
    grid-area: aside;
}
    
.o-main {
    grid-area: main;
}
    
.o-footer {
    grid-area: footer;
    overflow-x: auto;
}

.o-header, .o-aside, .o-main, .o-footer {
    background: gray;
    color: #FDFDFD;
}
.o-header, .o-main {
    padding: 3px;
    border: 2px solid rgb(0, 0, 0);
}

#title {
    display: grid;
    grid-template-areas:
    "col-1 col-2 col-3";
    font-family: 'Roboto', sans-serif;
    grid-template-columns: auto auto auto;
    font-weight: bold;
}

ul {
    list-style: none;
}

#cloudStatus {
    position: absolute;
    top: 10%; left: 60%;
}

table,table th, table td{
    border: 3px solid #111;
}
table , input, select{
    height: 100%;
    width: 100%;
    padding: 10px;
}

table textarea {
    height: 400px !important;
}

table,table th, table td, #btnFooter {
    background-color: rgb(54, 54, 54) !important;
}

#textarea {
    background-color: #DDD !important;
}

#btnFooter, #btnOptionsMenu {
    border-color: #111 !important;
    border-radius: 0;
    height: 122px !important;
}

#btnIndex {
    border-radius: 10px 0 10px 0;
    border-color: #505050 !important;
}

#btnOptionsMenu {
    padding-top: 30px;
}

#table_pt_2{
    height: 35px;
}

#mesa {
    width: 150px;
}