* {
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-areas:
    "header header"
    "main aside";
    font-family: 'Roboto', sans-serif;
    grid-template-columns: auto 50vh;
    grid-template-rows: 10vh 90vh;
}

.o-header {
    grid-area: header;
}

.o-aside {
    grid-area: aside;
}
    
.o-main {
    grid-area: main;
}

.o-header, .o-aside, .o-main {
    padding: 3px;
    border: 2px solid rgb(0, 0, 0);
    background:#936d37;
    color: #FDFDFD;
}

.o-header {
    background-color: #2b2115 !important;
}

#btnIndex {
    border-radius: 10px 0 10px 0;
    border-color: #505050;
    padding-top: 30px;
    width: 100%;
}

#btnOptionsMenu{
    border-color: #111 !important;
    background-color: #49361b !important;
    border-radius: 0;
}